<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <root>
		<!-- ALL: 전체, WARN:WARNING -->
      <level value="ALL"/>
      <appender-ref ref="console"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="fatal_file"/>
    </root>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
		<!-- WARN 이상의 로그만 출력하도록 LevelRangeFilter 추가 -->
		<filter type="log4net.Filter.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="FATAL" />
		</filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread][%level][%logger] - %message%newline" />
      </layout>
    </appender>
	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/logfile-" />
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<!-- 날짜와 확장자 패턴 추가 -->
		<datePattern value="yyyyMMdd'.log'" />		
		<maximumFileSize value="100MB" />		
		<maxSizeRollBackups value="10" />
		<!-- 항상 최신 로그 파일 유지 -->
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>
    <appender name="fatal_file" type="log4net.Appender.RollingFileAppender">
      <file value="logs/fatal.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="FATAL" />
        <param name="LevelMax" value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>